@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #171717;
    --linktext-color: whitesmoke;
    --section-color: #9ca3af;
}

body {
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    max-width: 85%;
    width: 100%;

}

hr {
    margin: 2rem 0rem;
}

.link {
    text-decoration: none;
    box-sizing: border-box;
    padding: 5rem 1rem;
 
}

.list-inline {
    display: inline;
    

}

.navigation{
    margin: auto;
    padding: 1rem;
    background-color:;
}
div .nav-brand{
    font-weight: bold;
    float: left;
}

.nav-ul {
    text-align: right;
}
.link-active{
    font-weight: bold;

}

.hero{
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-image{
    max-width: 80%;
    width: 550px;
    display: block;
    margin: auto;

}


.hero .hero-heading {
   text-align: center;
   padding: 1rem;
   font-size: 2.5em;
   color: var(--section-color);
}
.hero .hero-heading .hero-highlight{
    color: #171717;
}

.container{
    padding: 0rem 1rem;
}
.container .container-center{
    max-width: 900px;
    width: 100px;
    margin: auto;
}

.section{
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 1rem;
    text-align: center;

}



.section h3 {
    text-align: center;
}

.link-primary{
    max-width: 150px;
    padding: 0rem 2rem;
    background-color:transparent;
    margin: 1rem auto;
    border-radius: 2rem;
    border: 1px solid;
    border-color: #171717;
}
.link-secondary{
    max-width: 150px;
    padding: 0rem 2rem;
    background-color:transparent;
    margin: 1rem auto;
    border-radius: 2rem;
    border: 1px solid;
    border-color: #171717;
}

