@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: #171717;
    --linktext-color: whitesmoke;
    --section-color: #9ca3af;
}

body {
    font-family: 'Roboto Mono', monospace;
    margin: auto;
    max-width: 85%;
    width: 100%;

}

hr {
    margin: 2rem 0rem;
}

.link {
    text-decoration: none;
    box-sizing: border-box;
    padding: 5rem 1rem;
 
}

.list-inline {
    display: inline;
    

}

.navigation{
    margin: auto;
    padding: 1rem;
    background-color:;
}
div .nav-brand{
    font-weight: bold;
    float: left;
}

.nav-ul {
    text-align: right;
}
.link-active{
    font-weight: bold;

}

.hero{
    display: flex;
    padding: 5rem 2rem;
}

.hero .hero-image{
    max-width: 80%;
    width: 550px;
    display: block;
    margin: auto;
    flex-direction: column;

}


.hero .hero-heading {
   text-align: center;
   padding: 1rem;
   font-size: 2.5em;
   color: var(--section-color);
}